@model MyResume.UI.Models.ViewModels.PortfolioVM.PortfolioDetailVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="portfolio" class="portfolio-details section">

    <div class="container" data-aos="fade-up">

        <div class="portfolio-details-slider swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "navigation": {
                    "nextEl": ".swiper-button-next",
                    "prevEl": ".swiper-button-prev"
                  },
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
            </script>
            <div class="swiper-wrapper align-items-center">


                <div class="swiper-slide">
                    <img src="~/assets/img/portfolio/app-1.jpg" alt="">
                    <div class="row justify-content-between gy-4 mt-4">
                       

                            <div class="col-lg-8" data-aos="fade-up">
                                <div class="portfolio-description">
                                    <h2>@Model.ProjectName</h2>
                                <p>@Html.Raw(Model.Description)</p>

                                </div>
                            </div>

                            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                                <div class="portfolio-info">
                                    <h3>Project information</h3>
                                    <ul>
                                    <li><strong>Category</strong> @Model.Category</li>
                                        <li><strong>Client</strong> NULL</li>
                                    <li><strong>Project date</strong> @Model.ProjectDate.ToShortDateString()</li>
                                    <li><strong>Project URL</strong> <a href="@Model.Url" target="_blank">@Model.Url</a></li>
                                        <li><a href="#" class="btn-visit align-self-start">Visit Website</a></li>
                                    </ul>
                                </div>
                            </div>
                        

                    </div>
                </div>

            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>


    </div>

</section><!-- /Portfolio Details Section -->
