@using MyResume.UI.Areas.Admin.Models.AdminVMs.AdminAboutVMs
@model List<AdminAboutListVM>

<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">



        <h2>@ViewBag.aboutTitle</h2>
        <p>@ViewBag.AboutDesciprtion</p>
    </div>

    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    @if (item.ProfilePicture != null && item.ProfilePicture.Length > 0)
                    {
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(item.ProfilePicture)}")" alt="Profile Picture" width="400" height="400" />
                    }
                    else
                    {
                        <span>No Profile Picture</span> <!-- Alternatif içerik veya mesaj -->
                    }
                </div>
                <div class="col-lg-8 content">


                    <h2>@item.Title</h2>
                    <p class="fst-italic py-3">
                        @item.TitleDescription
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>@item.BirthDate</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>@item.WebSite</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>@item.Phone</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>@item.City</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>@item.Age</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>@item.Degree</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>@item.Email</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>FreeLance:</strong> <span>@item.FreeLance</span></li>
                                </ul>
                            </div>
                        </div>
                    </p>
                    <p class="py-3">
                        @item.SubDescription
                    </p>

                </div>
            }
        </div>
    </div>

</section>